.listaNatal {
  background: #f9f9f9;
  padding: 3rem 7.5rem 5.125rem 7.5rem;
}
.listaNatal .header {
  width: 29.813rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 2rem;
}
.listaNatal .header h2 {
  color: #161212;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4.5rem;
}
.listaNatal .header p {
  text-align: center;
  color: #404040;
  margin: 0.75rem 0rem 0rem 0rem;
  line-height: 1.5rem;
}

.listaNatal .lista {
  display: flex;
  flex-flow: row wrap;
  gap: 6.438rem;
}

.listaNatal .lista div {
  width: 12.5rem;
}
.listaNatal .lista div figure img {
  width: 12.5rem;
  height: 12.5rem;
  margin-bottom: 1.063rem;
}
.listaNatal .lista div h3 {
  color: #161212;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.75rem;
}
.listaNatal .lista div p {
  color: #8d8d8d;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
}
