.presente {
  background-color: #f7c7b9;
  padding: 5.625rem 7.5rem 5.688rem 7.5rem;

  display: flex;
  flex-flow: row wrap;
  gap: 7.82rem;
}

.presente div {
  display: flex;
  flex-flow: column wrap;

  width: 30.5rem;
  padding-top: 4.25rem;
}

.presente div h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.25rem;
  color: #161212;
  margin-bottom: 1.5rem;
}

.presente div p {
  width: 28.563rem;
  font-size: 1rem;
  font-weight: 500;
  color: #404040;
  margin-bottom: 2.5rem;
}

.presente div button {
  background-color: #da2535;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.5rem;
  width: 16rem;

  display: flex;
  gap: 0.625rem;

  font-size: 1rem;
  color: #f9f9f9;
  font-weight: 600;
  line-height: 2rem;
}
